<div>
    Tu będzie lista {{ type }}
    <ul>
        <li ng-repeat="participant in contest.participants">
            <a ng-href="#/contest/{{contest.slug}}/participant/{{ participant.slug }}">
                <h2>{{ participant.firstName }} {{ participant.lastName }}</h2>

                <h3>{{ participant.faculty }}</h3>
                <img ng-src="{{ participant.images.main }}" height="80"
                     alt="{{ participant.firstName }} {{ participant.lastName }} - zdjęcie główne"/>
            </a>
        </li>
    </ul>
</div>