<h2>{{ participant.firstName }} {{ participant.lastName }}</h2>
<img ng-src="{{ participant.images.main }}" height="300"
     alt="{{ participant.firstName }} {{ participant.lastName }} - zdjęcie główne"/>
<a ng-href="#/contest/{{ contest.slug }}">Wróć do konkursu</a>